policy_module(sapadm, 1.0.7)

########################################
#
# Declarations
#

role sapadm_r;

userdom_base_user_template(sapadm)

########################################
#
# SAP administrator local policy
#

allow sapadm_t self:capability { dac_override dac_read_search setgid setuid sys_ptrace };

dev_read_rand(sapadm_t)
init_read_utmp(sapadm_t)
kernel_get_sysvipc_info(sapadm_t)
kernel_read_system_state(sapadm_t)
logging_send_audit_msgs(sapadm_t)
logging_send_syslog_msg(sapadm_t)

netutils_run_ping(sapadm_t, sapadm_r)


sysnet_run_ifconfig(sapadm_t, sapadm_r)


# SAP NW create its logfile on /home/XXXadm/*.log
userdom_manage_user_home_content_dirs(sapadm_t)
userdom_manage_user_home_content_files(sapadm_t)
userdom_manage_user_home_content_symlinks(sapadm_t)
userdom_user_home_dir_filetrans_user_home_content(sapadm_t, file)

userdom_read_user_tmp_files(sapadm_t)
userdom_write_user_tmp_files(sapadm_t)

optional_policy(`
	maxdb_admin(sapadm_t, sapadm_r)
')

optional_policy(`
	sapnw_admin(sapadm_t, sapadm_r)
')

optional_policy(`
	nscd_read_pid(sapadm_t)
')

optional_policy(`
	su_exec(sapadm_t)
	selinux_compute_access_vector(sapadm_t)
')
